nav {
  background-color: #ef0a0aaf;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  font-family: copperplate;
  font-weight: bold;
  font-size: 15px;
}
nav button {
  border-radius: 15px;
}

nav a {
  color: rgb(0, 0, 0);
}

body {
  background: rgba(178, 186, 110, 0.31) no-repeat fixed center;

}
 h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(21, 23, 139);
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #605d09;
}

td, p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  color: rgb(21, 23, 139);
}

/* div.button {
  font-family: 'Courier New', Courier, monospace;
} */

/* thead, tfoot {
  display: none;
} */

/* FOR INDIVIDUAL PAGES

/* table {
  background: none !important;
  border: none !important;
}

tr {
  display: inline-block;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1.5rem;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

td {
  display: inline block;
} */
button a {
  color: rgb(180, 120, 41);

}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

/* .New {
  /* border: 1px solid gold;
  margin: auto;
  width: 95%; */
 */

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="submit"] {
  width: 30%;
}

img {
  width:150px;
  border-radius: 15px
}



