nav {
  background-color: #ef0a0aaf;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
  font-family: copperplate;
  font-weight: bold;
  font-size: 15px;
}

nav button {
  border-radius: 15px;
}

nav a {
  color: rgb(0, 0, 0);
}

body {
  background: rgba(213, 218, 169, 0.31) no-repeat fixed center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(21, 23, 139);
  display: flex;
  justify-content: space-between;
  margin: 0;
}

h4.div.button {
  border-radius: 15px;
}

div.Sort {
justify-content: center;}

div.Sort {
text-align: center;
}

td,
p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  color: rgb(21, 23, 139);
}

button a {
  color: rgb(41, 150, 180);
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="submit"] {
  width: 40%;
  border-radius: 15px;
}

img {
  width: 150px;
  border-radius: 15px;
}

form {
  color: rgb(21, 23, 139);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
}

article {
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 10px;
  align-items: center;

}
div.EditButton {
  text-align: center;
  display: inline-flex;
}

main.New {
  width: fit-content;
  height: 300p;
  position: center;
}

/* a {
  text-decoration: none;
  color: #605d09;
} */

/* thead, tfoot {
  display: none;
} */

/* FOR INDIVIDUAL PAGES

/* table {
  background: none !important;
  border: none !important;
}

tr {
  display: inline-block;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 1.5rem;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

td {
  display: inline block;
} */