nav {
  background-color: #ba0f0f90;
  /* background-attachment: fixed; */
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px grey;
  margin-bottom: 1em;
}

nav a {
  color: rgb(20, 22, 21);
}

nav h1 {
  font-family: copperplate;
  font-weight: bold;
  font-size: 30px;
}

body {
  background: rgba(178, 186, 110, 0.31) no-repeat fixed center;
}

main {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #605d09;
}

td, p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  color: rgb(21, 23, 139);
}


button a {
  color: rgb(180, 120, 41);

}

h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table {
  width: 50%;
  margin: auto;
}

td {
  text-align: center;
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: #f4eafd;
}

/* .New {
  /* border: 1px solid gold;
  margin: auto;
  width: 95%; */
 */

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

/* .showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
} */

img {
  width:150px;
  border-radius: 15px
}



